<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head') %>
  <title>Branches Sign Up</title>
</head>

<body>

<%- include('partials/headerSignUp') %>

  <section class="container">
    <div class = "flex-container input-header">
      <h2>Sign Up</h2>
    </div>
    <form action="/signup" method="post" class='signUpForm'>
      <label for="First Name">First Name</label>
      <input type="text" name="firstName">
      <label for="Last Name">Last Name</label>
      <input type="text" name="lastName">
      <label for="Email Address">Email Address</label>
      <input type="email" name="email">
      <label for="Username">Username</label>
      <input type="text" name="username">
      <label for="Password">Password</label>
      <input type="password" name="password">
      <button type="submit" class='contrast'>Sign Up</button>
    </form>
    <a href="/" role="button" class="contrast outline">Back to Login</a>
  </section>
  

  <div class="modal">
    <div class="modal-box">
      <div class="flex justify-center">
        <div class="card w-96 bg-base-100 ">
          <div class=" card-body">
            <h2 class="mb-2 text-3xl">Add Task</h2>
            <form action="/signup" method="post">
              <label for="First Name">First Name
                <input class="w-full max-w-xs input input-bordered" type="text" id="firstName" name="firstName" placeholder="First Name" required>
              </label>
              <label for="Last Name"> Last Name
              <input class="w-full max-w-xs input input-bordered" type="text" id="lastName" name="lastName" required>
              </label>
              <label for="Email Address">
                Email Address
              <input class="w-full max-w-xs input input-bordered" type="email" id="email" name="email" required>
              </label>
              <label for="Username">
                Username
                <input class="w-full max-w-xs input input-bordered" type="text" id="username" name="username"
                  required>
              </label>
              <label for="Password">
                Password
                <input class="w-full max-w-xs input input-bordered" type="password" id="password" name="password"
                  required>
              </label>
            <div class="justify-end card-actions">
              <button class="btn ">Signup</button>
            </form>
            </div>
            <a href="/dashboard" role="button" class="">Back to Dashboard</a>
          </div>
        </div>
      </div>
      <div class="modal-action">
        <label for="add-task-modal" class="btn">X</label>
      </div>
    </div>
  </div>




<%- include('partials/footer') %>

</body>

</html>

